<div class="container">
  <div class="page-header">
    <h1>Your Shopping Bag</h1>
  </div>
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:5%" class="text-center">Size</th>
        <th style="width:22.5%" class="text-center">Price</th>
        <th style="width:22.5%" class="text-center">Quantity</th>
        <!-- <th style="width:12%" class="text-center">Subtotal</th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in cartData">
        <td data-th="Product" id="prodId" data-toggle="modal" data-target="#myModal" ng-click="setModalData($index)">
          <div class="row">
            <div class="col-sm-2"><img src="images/T{{$index + 1}}.jpg" alt="..." class="img-responsive cusImage" /></div>
            <div class="col-sm-10">
              <h4 class="nomargin">{{x.p_name}}</h4>
              <h5>{{x.p_variation}}</h5>
              <h4>Color : <div ng-repeat="colors in x.p_available_options.colors"  class="colorbox" style="background-color: {{colors.hexcode}};"> </div></h4>
            </div>
          </div>
        </td>
        <td data-th="Size" class="text-center" ng-model="item.cost">{{x.p_selected_size.code}}</td>
        <td data-th="Quantity">
          <input type="number" id="qty" class="form-control text-center" ng-model="x.p_quantity" value="1">
        </td>
        <td data-th="Price" class="text-center" ng-model="item.cost">{{x.p_price | currency}}</td>
        <!-- <td class="text-center"><strong>{{x.p_quantity * x.p_price | currency}}</strong></td> -->

        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                      <h3>{{modalData.p_name}}</h3>
                      <h2>{{modalData.p_price | currency}} <h2>
                      <!-- <h3>Available sizes: {{modalData.p_selected_size.hexcode}}</h3> -->

                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {{selSize}}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownsizemenu" >
                          <li ng-repeat="size in modalData.p_available_options.sizes" >
                            <a ng-click="SelectSize(size.code)">{{size.code}}</a>
                          </li>
                        </ul>
                      </div>
                  <h3>  Available Colors: <div ng-repeat="colors in modalData.p_available_options.colors" class="colorbox" style="background-color: {{colors.hexcode}};"> </div> </h3>
                      <button type="button" class="btn btn-info">Edit</button>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <img src="images/T{{appindex + 1}}.jpg" alt="..." class="img-responsive imgModal" />
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td ><strong>Need Help</strong>
        <br><strong> or Have questions <span class="glyphicon glyphicon-question-sign"></td>
          <td class="text-center"></td>
          <td class="text-center"><strong>Estimated Shipping</strong></td>
      <td class="text-center"><strong>Free</strong></td>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td class="text-center"><strong>Estimated Total</strong></td>
      <td class="text-center">{{total() | currency}}</td>
    </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td class="text-center"><h5 Style="text-decoration: underline; cursor:pointer;">Continue Shopping</h5></td>
      <td><a href="#" class="btn btn-primary btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
    </tr>
  </tfoot>
</table>
<div>
