<div class="jumbotron">
  <h1>Sapient</h1>
  <p class="lead">
    <img src="images/sapient_logo.png" alt="I'm Gamechanger" class="img-responsive" id="logo">
    <br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/cart"><span class="glyphicon glyphicon-ok"> Go to Cart </span></a></p>
</div>

<div class="row marketing">
  <h2>Technologies/Frameworks Used</h2>
  <ul>
    <li>AngularJS</li>
    <li>Bootstrap</li>
    <li>CSS Media queries</li>
    <li>Bower & NPM(package management)</li>

  </ul>

</div>
